<div class="ui success message">
  <i class="close icon"></i>
  <div class="header">
    Your user registration was successful.
  </div>
  <p>You may now log-in with the username you have chosen</p>
</div>

<div class="ui centered grid fluid stacked">
	<div class="ui cards">
	  <div class="card four wide column" ng-repeat="room in rooms track by $index" >
	    <div class="content left aligned">
	    	<div class="right floated meta"><a ng-click="deleteRoom(room.id)"><i class="remove icon"></i></a></div>
	      <a class="header" ng-click="moveToRoom(room.id)">
	        <span ng-bind="room.name"></span>
	      </a>
	      <div class="meta">
	        Room ID: {{room.id}}
	      </div>
	    </div>
	    <div class="extra content center aligned">
			<div class="ui action input fluid">
			  <input type="text" placeholder="Add a to-do to this room" ng-model="newTodo">
			  <button class="ui teal right button icon" ng-click="addTodoToRoom(room.id, newTodo)"><i class="plus icon"></i></button>
			</div> 
		</div>
	  </div>
	</div>
</div>

<div class="ui teal inverted bottom fixed menu one item menu">
	<div class="item padded-menu">
		<div class="ui right labeled left icon input">
			<i class="plus icon"></i>
			<input	type="text" placeholder="Enter Room Name" 
					ng-model="newRoomName"
					maxlength="25" minlength="3"
					ng-minlength="3" ng-maxlength="25">
			<a class="ui tag label" ng-click="addRoom(newRoomName)">
				Create Room
			</a>
		</div>
	</div>
</div>