<div class="ui grid container centered todos">
	<div class="ui left aligned ten wide column">
		<a ui-sref="main" class="ui basic button">
			<i class="icon angle left"></i> All Rooms
		</a>
	</div>
	<div class="ui left aligned ten wide column">
		<div class="ui fluid card">
			<div class="content">
				<button	class="red button icon labeled ui right floated" 
						ng-click="triggerDeleteDialog()">
					<i class="icon trash"></i>Delete Room
				</button>
				<div class="header" ng-bind="room.name"></div>
				<div class="description">
					Room ID #<span ng-bind="room.id"></span>
				</div>
			</div>
			<div class="extra content">
				<form ng-submit="addTodo(newTodoText)">
					<div class="ui fluid transparent left icon input">
						<i class="plus icon"></i>
						<input	type="text" 
							placeholder="Add To-do..."
							ng-model="newTodoText"
							maxlength="40" minlength="3"
							ng-minlength="3" ng-maxlength="40"
							required="true">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="ui left aligned list ten wide column" ng-if="!todos.length">

		<div class="column">
			<img src="images/paper-plane.svg" alt="Oops. Nothing here!" class="ui centered medium image">
			<h2 class="ui header centered">Oops. Nothing here.</h2>
			<h2 class="ui sub header centered">Add some to-dos :)</h2>
		</div>
	</div>
	<div class="ui left aligned list ten wide column" ng-if="todos.length">
		<div class="item padded-item" ng-repeat="todo in todos">
			<div class="right floated content">
				<a class="red" ng-click="deleteTodo(todo.id)"><i class="remove icon"></i></a>
			</div>
			<div class="content">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="todo.complete" ng-change="toggleTodo(todo.id, todo.complete)" />
					<label class="strike" ng-bind="todo.text"></label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui basic modal ten wide column" id="delete-confirm-modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		Delete Room?
	</div>
	<div class="content">
		<p>Deleting a room is an irreversible action. Do you want to proceed?</p>
	</div>
	<div class="actions centered">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon">
			</i>
			No. Take me back!
		</div>
		<div class="ui green basic ok inverted button" ng-click="deleteRoom()">
			<i class="remove icon">
			</i>
			Yes. I'm sure!
		</div>
	</div>
</div>