<nav class="uk-navbar uk-margin-large-bottom">
	<a class="uk-navbar-brand uk-hidden-small" href="/#/">OctoWaffle</a>
	<div class="uk-navbar-content uk-navbar-flip uk-hidden-small">
		<button class="uk-button uk-button-primary uk-button-small" type="button"><i class="uk-icon-plus"></i>&nbsp;&nbsp;New Room</button>
	</div>
	<div class="uk-navbar-brand uk-visible-small">OctoWaffle</div>
	<div class="uk-navbar-content uk-navbar-flip uk-visible-small">
		<button class="uk-button uk-button-primary uk-button-small" type="button"><i class="uk-icon-plus"></i></button>
	</div>
</nav>

<div class="uk-grid">
	<div class="uk-width-1-1 uk-grid uk-flex">
		<h3 class="uk-width-2-10">Room <span ng-bind="roomId"></span></h3>
		<form class="uk-form uk-width-8-10" ng-submit="addTodo(todoText)">
			<input type="text" placeholder="Add a todo" class="uk-width-1-1" ng-model="todoText">
		</form>
	</div>
</div>
<div class="uk-grid ">
	
	<ul class="uk-list uk-list-line uk-container-center uk-width-9-10">
		<li ng-repeat="todo in todos" class="uk-clearfix">
		<input type="checkbox" ng-model="todo.complete" ng-change="toggleTodo(todo.id, todo.complete)" />
		{{todo.text}}
		<button class="uk-close uk-float-right" ng-click="deleteTodo(todo.id)"></button></li>
	</ul>
</div>

<pre>
	{{todos}}
</pre>